$gray: #c7c6c6;
$skyBlue: #1d81bf;

#app {
    width: 100%;
    margin-top: 10px;
    
    .bottom-border {
        border-bottom: solid 1px $gray;   
    }

    .font-blue {
        color: $skyBlue;
    }

    .quotes-container {
        width: 900px;
        padding: 10px;
        max-width: 100%;
        background: white;
        box-shadow: 2px 2px 2px $gray;
        margin: 0 auto;
        border: solid 1px $gray;
        border-radius: 3px;

        .quotes-header, .total, .item-wrapper {
            label, .item-name {
                float: left;
            }

            .add-quote, .amend-quote, .number, .item-price, .edit-btn {
                float: right;
            }

            .add-quote {
                margin-right: 10px;
            }
        }

        .number {
            font-size: 15px;
            span {
                font-size: 12px;
            }

            &.big-font {
                font-size: 18px;
                span {
                    font-size: 15px;
                }
            }
        }

        .total {
            padding: 6px 0; 
        }

        .list {
            margin-top: 10px;
        }

        .item-wrapper {
            @extend .bottom-border;
            
            padding: 8px 0;
            
            &:last-child {
                margin-bottom: 10px;
            }
            
            .edit-btn {
                margin-left: 10px;
            }
        } 
    }
}